cached-property==1.5.2
certifi==2021.5.30
charset-normalizer==2.0.12
click==8.0.4
#dataclasses==0.8
filelock==3.4.1
h5py==3.1.0
huggingface-hub==0.0.12
idna==3.7
importlib-metadata==4.8.3
importlib-resources==5.4.0
joblib==1.1.1
numpy==1.19.5
packaging==21.3
Pillow==8.3.1
pyparsing==3.1.2
PyYAML==6.0.1
regex==2023.8.8
requests==2.27.1
sacremoses==0.0.53
six==1.16.0
tokenizers==0.10.3
torch==1.9.0
torchvision==0.10.0
tqdm==4.61.2
transformers==4.10.0
typing_extensions==4.1.1
urllib3==1.26.18
zipp==3.6.0